a {
    color: #990f60; 
    text-decoration: none;
    font-weight: bold;
   
    }
   a:visited {
    color: #05661a;
   } 
   a:hover {
    color: red;
    text-decoration:underline;
   }
p{
    color: blue;
}
