@font-face { 
    font-family:babyschool;
    src: url(fonts/BabySchoolItalic.ttf);
}
@font-face { 
    font-family:rainbow;
    src: url(fonts/grayed_rainbow.zip);
}    
@font-face { 
    font-family:amsterdam;
    src: url(fonts/Love\ Amsterdam\ Italic.otf);    
}
p {font-family: "WebFont", Arial, sans-serif; }
body {
    background-color: cornsilk;
}   
    p{
    color: blue;
    font-size: 140%;
    text-align: center;
    border: 5px green double;
    }
    
    .leftimg {
     float:left;
     margin: 7px 7px 7px 0;
    }

    h1 {
        font-family:babyschool;
        font-size: 100px;
    }
